.postList {

  .mt-10 {
    margin-top: 10px;
  }

  .b-radius-12 {
    border-radius: 12px;
  }

  input {
    height: 100% !important;
  }

  .color-white {
    color: white;
  }

  .card-footer {
    background-color: #8080801f;
    padding: 10px 14px 4px 19px;
  }
}
